<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center;">
    <h1>Welcome to our Social Platform</h1>
    <p class="lead">
      Join all of your classes in one platform... All you need to do is sign up!
    </p>
    <div class="text-center">
      <a
        *ngIf="!loggedIn()"
        class="btn btn-primary btn-lg mr-2"
        (click)="register()"
      >
        Register
      </a>
      <a
        href="https://github.com/aymanelya/SocialPlatform"
        target="_blank"
        rel="noopener noreferrer"
        class="btn btn-info btn-lg"
        >Learn more</a
      >
    </div>
  </div>
</div>

<div *ngIf="registerMode" class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <app-register
        (cancelRegister)="cancelRegisterMode($event)"
      ></app-register>
    </div>
  </div>
</div>
